{% extends 'base/base.html' %}
{% block page_content %}

    <!-- Start Add Pet Section-->
    <div class="edit-delete edit-photo">
        <h2>Add product</h2>

        <!-- Start Add Pet Form -->
        <form action="{% url 'add product' %}" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            <!-- Add Pet Button -->
            <button class="add-btn" type="submit">Add Product</button>
            {% csrf_token %}
        </form>
        <!-- End Add Pet Form -->

    </div>
    <!-- End Add Pet Section -->

{% endblock %}