{% extends 'base/base.html' %}
{% load static %}
{% load custom_filters %}
{% block page_content %}
<div class="card">

    <!-- Start Product Photo -->
    <div class="imgBx" id="photo-{{ product.pk }}">
        <img src="/media/{{ product.product_photo }}"
             alt="photo of {{ product.name }}"
             class="cover" width="384" height="288">
    </div>
    <div>
        <strong>{{ product.name }}</strong>
            {% if request.user|is_in_perm_group:"product editor" or request.user.is_superuser %}
            <a href="{% url 'edit product' pk=product.pk %}">
                <img class="edit-img"
                     src="{% static 'images/edit-pen-icon-6.jpg' %}"
                     width="18"
                     alt="edit">
            </a>

            <!-- Link to Delete Profile Page -->
            <a href="{% url 'delete product' pk=product.pk %}">
                <img class="bin-img"
                     src="{% static 'images/icon-remove-22.jpg' %}"
                     width="18"
                     alt="delete">
            </a>
        {% endif %}
    </div>
    <!-- End Product Photo -->
<div><strong>Price: {{ product.price }}lv.</strong></div>

    <div class="bottom">
        <!-- Start Like Button -->
        <div class="actionBtns">
            <div class="left">
                <!-- Start Like Button -->
                <span class="heart">
                    <a href="{% url 'like product' product_id=product.pk %}">
                        <!-- if user has liked the product -->
                        {% if product.is_liked_by_user %}
                            <svg style="color: red"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 fill="currentColor"
                                 class="bi bi-heart-fill"
                                 viewBox="0 0 16 16">
                                            <!-- Coordinate path -->
                                            <path fill-rule="evenodd"
                                                  d="M8 1.314C12.438-3.248 23.534 4.735
                                                  8 15-7.534 4.736 3.562-3.248 8 1.314z"
                                                  fill="red">

                                            </path>
                                        </svg>
                            <!-- else -->
                        {% else %}
                            <svg aria-label="Like"
                                 color="#262626"
                                 fill="#262626"
                                 height="24"
                                 role="img"
                                 viewBox="0 0 48 48"
                                 width="24">
                                        <!-- Coordinate path -->
                                        <path d="M34.6 6.1c5.7 0 10.4 5.2 10.4
                                                    11.5 0 6.8-5.9 11-11.5 16S25 41.3 24
                                                    41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3
                                                    11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3
                                                    1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9
                                                    1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9
                                                    1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1
                                                    0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3
                                                    1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3
                                                    1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2
                                                    7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6
                                                    48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                                        </path>
                            </svg>
                        {% endif %}
                    </a>
                </span>
            {% if product.is_liked_by_user %}
                This product is added to your favourites.
            {% endif %}
                <!-- End Like Button -->
            </div>
        </div>

        <!-- Number of Likes per Photo -->

        {% with product.likes_count as total_likes %}
            <p class="likes">
                This {{ product.category }} is liked by {{ total_likes }} user{{ total_likes|pluralize }}
            </p>
        {% endwith %}
        <!-- End Number of Likes per Photo -->

        <!-- start of the description -->
        <p>Description:</p>
        {{ product.description }}
        <!-- end of the description -->

        <!-- Start Comments Section -->
        {% for comment in comments %}
            <div class="comments">
                <div class="top">
                    <div class="userDetails">
                        <div class="comment-data">
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <!-- User Profile Image -->
                                        {% if comment.to_user.avatar %}
                                            <img src="{{ comment.to_user.avatar }}" alt="">
                                        {% else %}
                                            <img src="{% static 'images/person.png' %}"
                                                 alt="img8">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <p>
                                <!-- Link to User Profile Details Page-->
                                <!-- User First and/or Last Name or username-->
                                <a href="{% url 'details user' pk=comment.to_user.pk %}">
                                    {{ comment.to_user.get_full_name }}:
                                </a>
                                <!-- User Comment -->
                                {{ comment.comment_text }}
                            </p>
                        </div>
                        <span>{{ comment.date_and_time_of_publication }}</span>
                            {% if request.user|is_in_perm_group:"comment moderator" or request.user.is_superuser %}

                                <a href="{% url 'edit comment' pk=comment.pk %}">
                                <img class="edit-img"
                                     src="{% static 'images/edit-pen-icon-6.jpg' %}"
                                     width="18"
                                     alt="edit">
                                </a>

                                <!-- Link to Delete Profile Page -->
                                <a href="{% url 'delete comment' pk=comment.pk %}">
                                <img class="bin-img"
                                     src="{% static 'images/icon-remove-22.jpg' %}"
                                     width="18"
                                     alt="delete">
                                </a>
                            {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- End Comments Section -->

        <!-- Start Add Comments Section -->
        <div class="addComments">
            <div class="reaction">
                <h3>
                    <i class="far fa-smile"></i>
                </h3>
            </div>
            <!-- Start Add Comments Form -->
            {% if request.user.is_authenticated %}
            <form method="post" action="{% url 'comment product' product_id=product.pk %}">
                {{ comment_form }}
                {% csrf_token %}
                <button type="submit">Post</button>
            </form>
            {% endif %}
            <!-- End Add Comments Form -->

        </div>
        <!-- End Add Comments Section -->

    </div>
</div>
{% endblock %}