{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <!-- Start Edit Product Section -->
    <div class="edit-delete edit-photo">
        <h2>Edit Product</h2>
        <!-- Start Edit Product From -->
        <form method="post" action="{% url 'edit product' pk=object.pk %}">

            {{ form.as_p }}
{#            <label for="id_name">New Name:</label>#}
{#            <p>{{ form.name }}</p>#}
{#            <p>{{ form.category }}</p>#}
{#            <p>{{ form.product_photo }}</p>#}
{#            <p>{{ form.description }}</p>#}



{#            <p>#}
{#                <label>{{ product_photo.label }}</label>#}
{#                <label for="id_photo_file">Image of product:</label>#}
{#                <input type="file" value="{{ product_photo }}">#}
{#            </p>#}
{##}
{#            <p>#}
{#                <label for="id_description">Description:</label>#}
{#                <input type="text" value="{{ photo.description }}">#}
{#            </p>#}
{##}
{#            <p>#}
{#                <label for="id_description">Location:</label>#}
{#                {{ photo.location }}#}
{#                <input type="text" value="{{ photo.location }}">#}
{#            </p>#}
{##}
{#            <p>#}
{#                <label for="pets">Tag Pets:</label>#}
{#                    <select name="pets" id="id_tagged_pets" multiple>#}
{#                        {% for pet in pets %}#}
{#                        <option>{{ pet.name }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{##}
{#            </p>#}


{#            {% for field in form %}#}
{#                <p class="error"> {{ field.errors }} </p>#}
{#                <div class="label-input">#}
{#                    <label>{{ field.label }}</label>#}
{#                    {{ field }}#}
{#                </div>#}
{#                <br>#}
{#            {% endfor %}#}

            {% csrf_token %}
            <!-- Edit Product Button -->
            <button class="edit-btn" type="submit">Edit product</button>
        </form>
        <!-- End Edit Product Form -->
    </div>
    <!-- End Edit Profile Section -->
{% endblock %}
