{% extends 'base/base.html' %}
{% load static %}
{% load custom_filters %}
{% block page_content %}

    <!-- Start Delete Product Section -->
    <div class="delete-profile">
        {% if request.user|is_in_perm_group:"comment moderator" or request.user.is_superuser %}

            <h1>
                Are you sure you want to delete this comment?
            </h1>
            <div class="sure-buttons">
            <form method="post" action="{% url 'delete comment' pk=object.pk %}">
                {% csrf_token %}
                <!-- Yes (Delete comment) Button -->
                <button>Yes</button>
                <!-- Go Back Button -->
                <a class="edit-btn" href="javascript:history.back()">Go Back</a>
            </form>
        {% else %}
            <strong>You do not have permission to delete comments.</strong>
            <div class="sure-buttons">
                <a class="edit-btn" href="javascript:history.back()">Go Back</a>
            </div>
        {% endif %}
        </div>
{#        <img src="{% static 'images/KetoGo-small.png' %}" alt="">#}
    </div>
    <!-- End Delete Profile Section -->

{% endblock %}