{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <div class="container">
        <div class="col-9">
                <p>
                    <img width="40px" style="position: center"
                         src="{% static 'images/KetoGo.png' %}"
                         alt="img1">

                    <strong style="font-size: large">ABOUT US</strong>

                    <img width="40px" style="position: center"
                         src="{% static 'images/KetoGo.png' %}"
                         alt="img1">
                </p>
            <p>
                Lorem ipsum dolor sit amet, cum debet vidisse neglegentur cu,
                vix lorem quodsi tamquam ei. Et eos graece tractatos, has ea scripta
                reformidans. Ei sanctus debitis pro. Alii melius audiam cum eu,
                ut has tation adolescens ullamcorper. Has velit solet possit in.

                Pertinax consequat id sit, at impetus accommodare pri. Usu homero
                mentitum mediocritatem te, inani instructior ne duo, quidam
                efficiantur has eu. Vis in nihil salutatus, affert vituperatoribus
                est et, malis explicari ullamcorper mei et. Ea causae urbanitas
                deseruisse usu, nobis solet omittantur his ea. Pro no ridens tamquam
                legendos.

                Veniam tacimates dissentiet his cu, odio ipsum appetere has an, his
                ex paulo equidem perpetua. His mucius appetere conclusionemque ut,
                vim te molestie rationibus sadipscing. Ad apeirian tacimates quaestio
                pro. Facer scripta moderatius vis ex. No quaeque aliquando qui, eu
                quo atqui elaboraret.

                Cu usu mundi melius laoreet, sumo volutpat scribentur eum an, duo ea
                cetero ceteros temporibus. No eum odio iusto, qui in rebum homero
                altera. An pri comprehensam vituperatoribus. Ea cibo semper cetero sea.
                No vis torquatos voluptatum, paulo nostrud accusam te vim, vocent
                urbanitas ius in. Mei at exerci fierent repudiandae.

                Id odio porro officiis duo, duo soluta cetero necessitatibus no, quis
                incorrupte appellantur his cu. Pri cu diceret feugiat fuisset, vix ut
                feugiat recteque. Aeque inciderint has ne, mea in iudicabit dignissim
                similique. Pro probatus sapientem ei, cum liber admodum an.
            </p>
        </div>
    </div>

{% endblock %}
