{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div class="container">
            <div class="col-9">
                <!-- Start Searchbar Form -->
                <form class="searchbar" method="get" action="{% url 'search' %}">
                    {{ search_form }}
                    {% csrf_token %}
                    <button type="submit">
                        <img src="{% static 'images/search.png' %}"
                             height="18"
                             alt="img2">
                    </button>
                </form>
            </div>

        <!-- End Searchbar Form -->
    <div>
            <!-- Start Products List -->
            {% for category in categories %}
                <p><strong>Choose your {{ category }}:</strong></p>

                {% for product in products %}
                    {% if category == product.category %}
                        <p>
                            {% include 'base/partials/product item for listing.html' with product=product %}
                        </p>
                    {% endif %}
                {% endfor %}

            {% endfor %}
    </div>
            <!-- End Products List -->
    </div>
{% endblock %}
