{% extends 'base/base.html' %}
{% load static %}
{% load custom_filters %}

{% block page_content %}
    <div class="container">
        <div class="col-9">
            <!-- Start Searchbar Form -->
            <form class="searchbar" method="get" action="{% url 'search' %}">
                {{ search_form }}
                {% csrf_token %}
                <button type="submit">
                    <img src="{% static 'images/search.png' %}"
                         height="20"
                         alt="img2">
                </button>
            </form>
            <!-- End Searchbar Form -->
            <!-- ADD PRODUCT button if user has permission -->
            <div class="sure-buttons">
                {% if request.user|is_in_perm_group:"product editor" or request.user.is_superuser %}
                    <!-- Link to Add Product Page -->
                    <a class="edit-btn" href="{% url 'add product' %}">
                        <i>Add Product</i>
                    </a>
                {% endif %}
                <!-- End ADD PRODUCT button if user has permission -->
            </div>
            <div>
                <!-- Start Products List -->
                {% for category in categories %}
                    <p><strong>Choose your {{ category }}:</strong></p>

                    {% for product in products %}
                        {% if category == product.category %}
                            <p>
                                {% include 'base/partials/product item for listing.html' with product=product %}
                            </p>
                        {% endif %}
                    {% endfor %}

                {% endfor %}
                <!-- End Products List -->
            </div>
        </div>
    </div>
{% endblock %}
