{% extends 'base/base.html' %}
{% load custom_filters %}
{% block page_content %}

    <!-- Start Register Section -->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>KetoGo</h1>

            <!-- Start Register Form -->
            <form method="post" action="{% url 'register user' %}">
                {{ form.email|placeholder:'Enter your email...' }}{{ form.email.errors }}
                {{ form.password1|placeholder:'Choose a password...' }}{{ form.password1.errors }}
                {{ form.password2|placeholder:'Repeat the password...' }}{{ form.password2.errors }}
                {{ form.first_name}}{{ form.first_name.errors }}
                {{ form.last_name}}{{ form.last_name.errors }}
                {{ form.avatar}}{{ form.avatar.errors }}
                {{ form.age}}{{ form.age.errors }}


{#                {% for field in form %}#}
{#                    <p class="error"> {{ field.errors }} </p>#}
{#                    <div class="label-input">#}
{#                        <label>{{ field.label }}</label>#}
{#                        {{ field }}#}
{#                    </div>#}
{#                    <br>#}
{#                {% endfor %}#}

{#                {{ form.as_p }}#}
                {% csrf_token %}
                <!-- Register Button -->
                <button type="submit">Register</button>
            </form>
            <!-- End Register Form -->

        </div>
        <div class="second-option">

            <!-- Link to Login Page -->
            <p>Have an account? <a href="{% url 'login user' %}">Log in</a></p>
        </div>
    </div>
    <!-- End Register Section -->
{% endblock %}

{#<h1>Register new user:</h1>#}
{#<form action="{% url 'register user' %}" method="post">#}
{#    {{ form.as_p }}#}
{#    {% csrf_token %}#}
{#    <button>Register</button>#}
{#</form>#}